file.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lessons">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" />
              <xs:element name="day" />
              <xs:element name="classroom" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="teachers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" />
              <xs:element name="lesson">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" />
                    <xs:element name="numles" />
                    <xs:element name="namstud" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
